<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Deskripsi Gambar Publik{% endblock %}</title>
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename = 'css/styles.css') }}">
</head>
{% block content %}{% endblock %}
<script src="{{ url_for('static', filename = 'js/scripts.js') }}"></script>
{% block scripts %}{% endblock %}
</body>

</html>
